services:
  - type: web
    name: magic-bg-remover
    env: python
    build:
      dockerfile: Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: FLASK_ENV
        value: production
    plan: free
    numInstances: 1
    healthCheckPath: /
    buildCommand: |
      pip install --upgrade pip &&
      pip install -r requirements.txt
    startCommand: gunicorn --bind :10000 --timeout 120 app.main:app
